/*	Reset	*/

body{
	background-color:#eaeaea;
}

#company-list{
	list-style: none;
}

#company-list li:hover{
	background-color: #eee;
}

#company-list h5{
	position:relative;
	padding:5px;
}

#company-list h5 small{
	margin-left:5px;
}

#company-list span[data-company]{
	position:absolute;
	bottom:0;
	z-index: 0;
	background-color:red;
	padding:2px;
	

} 

#company-list h4{
}