/*	Reset	*/

body{
}

.row.graph-data{
	background-color: #fff;
}

#company-list{
	list-style: none;
}
#company-list small a{
	display: none;
}

#company-list li{
	padding: 5px 0;
}
#company-list li:hover{
	background-color: #eee;
}

#company-list h6{
	text-align: right;
	margin: 0;
}

#company-list small div{
	float:right;
}


#company-list .label{
	padding:2px;
	margin-right: 1px;
	opacity:0.1;
}