@import "_settings";
$block-grid-default-spacing: 10px;
$accent:#D43B39;
$mute1:#444;
$mute2:#666;

$opacity1:0.8;
$opacity2:0.5;

$best-red:#D43B39;
$best-route-ltd:#D43B39;
$best-ac:#D43B39;
$best-route:#111;


@mixin rounded($vert, $horz, $radius: 10px) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}
@mixin rounded-corners($amount: 5px){
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
}

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

body{
 //   background-color:#444;
}


h1,h2,h3,svg{

 font-family: 'Source Sans Pro', serif;
}

h1{
  margin-bottom:0;
  img{
    height:40px;
  }
}


#map{
  height:500px;
  position:relative;
}
#map-overlay{
  position:absolute;
}
svg{
  font-size: 60%;

}
path[wiki] {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.2px;
  
  &:hover,&.active{
    fill: #ddd;
    stroke:white;
    stroke-width: 1px;
  }
  &.focus{
    opacity:1;
    fill: yellow;
    stroke:#ccc;
    stroke-width: 1px;
  }
}

text[wiki]{
  text-anchor: middle;
  cursor: pointer;
  opacity:0.4;
  &:hover,&.active{
   font-size: 150%;
   opacity:1;
 }
 &.focus{
    //font-size: 150%;
    transition: transform 2s;
    opacity:1;
    text-decoration: underline;
    @include shadow(white);
    z-index: 999;
  }
}
.Union{
  font-size: 8px;
  font-style: italic;
}
.State{
  font-size: 10px;
}
.Capital{
  font-weight: bold;
}

#map-overlay{
  margin-left: 10px;
  opacity:0.6;
  h5{margin-bottom: 0;}
  .subheader span{
    background-color: #eee;
    @include rounded-corners(10px);
    padding:2px 6px;
    cursor: pointer;
  }
}

