---
layout: default
---
<div class="row">
<div class="large-9 columns">
<ul class="small-block-grid-2 large-block-grid-3 board">
  {% for post in site.posts %}
    <li>
    <!-- Start a block -->
      <a href="{{ post.url }}">
      <!-- Display thumbnail if set -->
      {% if post.thumb %}
      <img src="/public/img/{{ post.thumb }}" />
      {% endif %}
      <!-- Post title -->
      <h6>{{ post.title }}
      <small>{{ post.category }} . {{ post.date | date_to_long_string }}</small></h6></a>
    </li>
  {% endfor %}
</ul> 
</div>
<div class="large-3 columns">
	<ul class="side-nav">
  <li><a href="#">Link 2</a></li>
  <li class="divider"></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>
</div>
</div>