body{background-color:#eee;position:relative;}
h1,h2,h3,svg,body{font-family:'Source Sans Pro', serif}#map{min-height:600px;height:100%;}#info{border:1px solid #ddd;padding:10px 30px}#status{background-color:#fff;float:right;margin:10px;padding:10px}
