@import "_settings";

@mixin rounded($vert, $horz, $radius: 10px) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}
@mixin rounded-corners($amount: 5px){
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
}

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}
.blur {
 color: transparent;
 text-shadow: 0 0 5px rgba(0,0,0,0.5);
 -webkit-transition: text-shadow 0.6s, color 1s;
 -moz-transition: text-shadow 0.6s, color 1s;
 -o-transition: text-shadow 0.6s, color 1s;
 transition: text-shadow 0.6s, color 1s;

}
.sharp {
 color: inherit;
 text-shadow: 0 0 5px rgba(0,0,0,0);
 -webkit-transition: text-shadow 0.6s, color 1s;
 -moz-transition: text-shadow 0.6s, color 1s;
 -o-transition: text-shadow 0.6s, color 1s;
 transition: text-shadow 0.6s, color 1s;
}
body{
  background-color:#eee;
}
h1,h2,h3,svg{

 font-family: 'Source Sans Pro', serif;
}

h1{
  margin-bottom: 10px;
  border-bottom:4px solid #222;
  img{
    height:40px;
  }
}
h2.subheader{margin:0;}

/*  Project bar  */
#projects{
 margin-bottom:10px;
 h2{
  opacity:1;
  @extend .blur;
  margin:0;
}
ul{
  list-style: none;
}
li{

  padding:1px;
  &:nth-child(1) a{
    background-image:url('../img/uid.svg');
  }
  &:nth-child(2) a{
    background-image:url('../img/npr.svg');
  }
  &:nth-child(3) a{
    background-image:url('../img/cctv.svg');
  }
  &:nth-child(4) a{
    background-image:url('../img/cctns.svg');
  }
  &:nth-child(5) a{
    background-image:url('../img/uav.svg');
  }
}
a{
  @include rounded-corners(2px);
  background: #444 url('../img/cctv.svg') no-repeat 90% 10px;
  color:#eee;
  padding:10px;
  display:block;
  min-height:80px;
  cursor: default;
  -webkit-transition: background-color 0.3s, max-height 0.5s;
  @include shadow;
  p{
    @extend .blur;
    font-size: 60%;
    b{
      display: inline-block;
    }
  }
  &:hover{
    color:#222;
    background-color: #ddd;
    p{
      @extend .sharp;}
      h2{
        @extend .sharp;
      }
    }
  }
}

/*  Map   */
#map{
  @include rounded-corners(20px);
 // background-color: #f5f5f5;
 position:relative;
}
svg{
  font-size: 60%;
margin-top:40px;
}
path[wiki] {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.2px;
  
  &:hover,&.active{
    fill: #ddd;
    stroke:white;
    stroke-width: 1px;
  }
  &.focus{
    opacity:1;
    fill: yellow;
    stroke:#ccc;
    stroke-width: 1px;
  }
}

text[wiki]{
  text-anchor: middle;
  cursor: pointer;
  opacity:0.4;
  &:hover,&.active{
   font-size: 150%;
   opacity:1;
 }
 &.focus{
    //font-size: 150%;
    transition: transform 2s;
    opacity:1;
    text-decoration: underline;
    z-index: 999;
  }
}
.Union{
  font-size: 8px;
  font-style: italic;
}
.State{
  font-size: 10px;
}
.Capital{
  font-weight: bold;
}
.rail{
  opacity:0.1;
  fill:none;
  stroke:#777;
  stroke-width:1.5px;
  pointer-events:none;
  &:hover{
    opacity:1;
    stroke-width:2px;
  }
}

#map-overlay{
  margin-left: 10px;
  opacity:0.6;
  position:absolute;
  h3{margin-bottom: 0;
    pointer-events:none;}
    .subheader span{
      background-color: #eee;
      @include rounded-corners(10px);
      padding:2px 6px;
      cursor: pointer;
    }
  }
  form{
    border-bottom: 1px solid #333;
  }
  #lang{
    width:40px;
  }

  .title {
    margin-bottom:0;
    a{
      color:inherit;
      font-weight: bold;
    }
  }
  article section{
    margin-bottom:5px;
    font-size:80%;
  }
  footer{
    margin-top:10px!important;
    font-size: 80%;
    color:#999;
    p{
      border-top:1px solid #eee;
      padding-top:5px;
      margin-bottom:0;
    }
    a{
      color:inherit;
      text-decoration: none;
      border-bottom: 1px dotted black;

    }
    #credits{
      li{display: inline;
        margin-right:5px;
        opacity:0.5;
        &:hover{
          opacity:1;
        }
        &:before{
          content: '\ffed';
        }
      }
    }
  }
