/* line 11, ../_sass/style.scss */
body {
  background-color: #222222;
  color: #eeeeee;
}

/* line 15, ../_sass/style.scss */
header {
  background-color: #eeeeee;
}

/* line 18, ../_sass/style.scss */
h2, h3, h4 {
  color: #e40000;
  font-weight: normal;
}

/* line 23, ../_sass/style.scss */
header {
  padding: 10px 10px 0 10px;
}
/* line 25, ../_sass/style.scss */
header > .row {
  position: relative;
}
@media all and (max-width: 1500px) and (min-width: 768px) {
  /* line 28, ../_sass/style.scss */
  header > .row > div:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
/* line 35, ../_sass/style.scss */
header img {
  float: left;
  margin: 10px 0;
}
/* line 39, ../_sass/style.scss */
header a.tedx {
  font-size: 150%;
  padding: 10px 0;
  color: #222222;
  float: left;
}
/* line 44, ../_sass/style.scss */
header a.tedx b {
  color: #e40000;
}

/* line 52, ../_sass/style.scss */
article {
  padding: 0 70px 70px 70px;
}

/* line 56, ../_sass/style.scss */
#venue-details {
  margin: 20px 0;
  background-color: #eeeeee;
  padding: 30px 20px;
}
/* line 60, ../_sass/style.scss */
#venue-details h5:first-child {
  margin: 0;
}
/* line 62, ../_sass/style.scss */
#venue-details h5:first-child small {
  color: #e40000;
}
/* line 66, ../_sass/style.scss */
#venue-details h5.subheader {
  color: #e40000;
  margin-top: 30px;
}
/* line 70, ../_sass/style.scss */
#venue-details p {
  color: #222222;
  font-size: 80%;
  margin-bottom: 5px;
}
/* line 75, ../_sass/style.scss */
#venue-details img {
  width: 100%;
  margin-bottom: 10px;
}
/* line 79, ../_sass/style.scss */
#venue-details > a {
  font-size: 70%;
  padding: 5px;
  background-color: #222222;
  color: #eeeeee;
  opacity: 0.8;
}
/* line 85, ../_sass/style.scss */
#venue-details > a:hover {
  opacity: 1;
}

/* line 91, ../_sass/style.scss */
nav {
  float: right;
  clear: right;
}
/* line 94, ../_sass/style.scss */
nav li {
  padding: 0 2px;
}
/* line 97, ../_sass/style.scss */
nav a.button {
  background-color: #222222;
  border-color: #222222;
  margin: 0;
  font-weight: normal;
}
/* line 102, ../_sass/style.scss */
nav a.button:hover, nav a.button.active {
  background-color: #e40000;
}

/* line 111, ../_sass/style.scss */
#search {
  position: relative;
  width: 200px;
  float: right;
  right: 0;
  margin-bottom: 10px;
}
/* line 117, ../_sass/style.scss */
#search input {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0;
  padding-left: 15px;
}
/* line 125, ../_sass/style.scss */
#search .input-line {
  height: 3px;
  border-bottom: 1px solid #e40000;
  border-left: 1px solid #e40000;
  position: relative;
  bottom: 0;
}
/* line 132, ../_sass/style.scss */
#search i {
  position: absolute;
  right: 6px;
  top: 7px;
  font-size: 110%;
  color: #222222;
  opacity: 0.6;
}

/* line 147, ../_sass/style.scss */
#theme h1 {
  color: #eeeeee;
  font-weight: normal;
  font-size: 400%;
  font-family: "Helvetica";
  position: relative;
}
/* line 153, ../_sass/style.scss */
#theme h1 span {
  position: absolute;
  right: 0;
  top: -58%;
  font-size: 200%;
  color: #e40000;
  font-weight: normal;
}
/* line 162, ../_sass/style.scss */
#theme p {
  font-size: 70%;
}

/* line 166, ../_sass/style.scss */
h4 {
  font-size: 120%;
  line-height: 90%;
  position: relative;
}
/* line 170, ../_sass/style.scss */
h4 i {
  float: left;
  padding: 5px 10px 5px;
  font-size: 110%;
  color: #eeeeee;
}

/* line 180, ../_sass/style.scss */
#schedule {
  list-style: none;
}
/* line 182, ../_sass/style.scss */
#schedule li:not(:last-child) {
  padding-bottom: 10px;
  background: linear-gradient(to right, rgba(133, 142, 153, 0) 6%, #858e99 7%, rgba(134, 143, 154, 0) 8%, rgba(229, 229, 229, 0) 100%);
  /* W3C */
}
/* line 186, ../_sass/style.scss */
#schedule small {
  color: #e40000;
  margin-left: 10px;
}

/* line 192, ../_sass/style.scss */
.label {
  opacity: 0.9;
  padding: 10px;
  background-color: #eeeeee;
  color: #222222;
  margin-right: 15px;
  border-radius: 5px;
}
/* line 199, ../_sass/style.scss */
.label:after {
  content: " hrs";
  opacity: 0.8;
}

/* line 205, ../_sass/style.scss */
#register.tedx {
  width: 100%;
  background-color: #e40000;
  border-color: transparent;
  color: #eeeeee;
}

/* line 212, ../_sass/style.scss */
footer {
  background-color: #ccc;
  padding: 10px 0;
  border-top: 2px solid #e40000;
}
/* line 216, ../_sass/style.scss */
footer h6 {
  color: #e40000;
}
/* line 219, ../_sass/style.scss */
footer p {
  color: inherit;
}

/* Carousel */
/* line 225, ../_sass/style.scss */
.ca-container {
  height: 340px;
}

/* line 228, ../_sass/style.scss */
.ca-item-main {
  background-color: black;
  position: relative;
}
/* line 231, ../_sass/style.scss */
.ca-item-main h2 {
  color: #eeeeee;
  text-align: left;
}
/* line 235, ../_sass/style.scss */
.ca-item-main p {
  text-align: left;
  font-size: 70%;
  margin: 0;
}

/* line 241, ../_sass/style.scss */
.ca-content-wrapper {
  background-color: #222222;
}

/* line 244, ../_sass/style.scss */
.ca-content {
  color: #eeeeee;
  padding: 15px;
}
/* line 247, ../_sass/style.scss */
.ca-content h3 {
  color: #e40000;
}
/* line 250, ../_sass/style.scss */
.ca-content ul {
  list-style: none;
}
/* line 253, ../_sass/style.scss */
.ca-content .ca-content-text, .ca-content ul {
  padding: 5px;
  margin: 0;
}
/* line 257, ../_sass/style.scss */
.ca-content .ca-close {
  background-color: #e40000;
}

/* line 261, ../_sass/style.scss */
a.ca-more {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 266, ../_sass/style.scss */
a.ca-more:hover {
  color: inherit;
}
/* line 269, ../_sass/style.scss */
a.ca-more span {
  color: #e40000;
  float: right;
}
