/* line 11, ../_sass/style.scss */
body {
  background-color: #222222;
  color: #eeeeee;
}

/* line 15, ../_sass/style.scss */
header {
  background-color: #eeeeee;
}

/* line 18, ../_sass/style.scss */
h2, h3, h4 {
  color: red;
  font-weight: normal;
}

/* line 23, ../_sass/style.scss */
header {
  padding: 10px 10px 0 10px;
}
/* line 25, ../_sass/style.scss */
header > .row {
  position: relative;
}
@media all and (max-width: 1500px) and (min-width: 768px) {
  /* line 28, ../_sass/style.scss */
  header > .row > div:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
/* line 35, ../_sass/style.scss */
header img {
  float: left;
  margin: 10px 0;
}
/* line 39, ../_sass/style.scss */
header a.tedx {
  font-size: 150%;
  padding: 10px 0;
  color: #222222;
  float: left;
}
/* line 44, ../_sass/style.scss */
header a.tedx b {
  color: red;
}

/* line 52, ../_sass/style.scss */
article {
  padding: 0 70px;
}

/* line 56, ../_sass/style.scss */
aside > div {
  margin: 10px 0;
  background-color: #eeeeee;
  padding: 20px;
}

/* line 62, ../_sass/style.scss */
nav {
  float: right;
}
/* line 64, ../_sass/style.scss */
nav li {
  padding: 0 2px;
}
/* line 67, ../_sass/style.scss */
nav a.button {
  background-color: #222222;
  border-color: #222222;
  margin: 0;
  font-weight: normal;
}
/* line 72, ../_sass/style.scss */
nav a.button:hover, nav a.button.active {
  background-color: red;
}

/* line 81, ../_sass/style.scss */
#search {
  position: relative;
  width: 200px;
  float: right;
  right: 0;
  margin-bottom: 10px;
}
/* line 87, ../_sass/style.scss */
#search input {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0;
  padding-left: 15px;
}
/* line 95, ../_sass/style.scss */
#search .input-line {
  height: 3px;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  position: relative;
  bottom: 0;
}
/* line 102, ../_sass/style.scss */
#search i {
  position: absolute;
  right: 6px;
  top: 7px;
  font-size: 110%;
  color: #222222;
  opacity: 0.6;
}

/* line 117, ../_sass/style.scss */
#theme h1 {
  color: #eeeeee;
  font-weight: normal;
  font-size: 400%;
  font-family: "Helvetica";
  position: relative;
}
/* line 123, ../_sass/style.scss */
#theme h1 span {
  position: absolute;
  right: 0;
  top: -58%;
  font-size: 200%;
  color: red;
  font-weight: normal;
}
/* line 132, ../_sass/style.scss */
#theme p {
  font-size: 70%;
}

/* line 136, ../_sass/style.scss */
h4 {
  font-size: 120%;
  line-height: 90%;
  position: relative;
}
/* line 140, ../_sass/style.scss */
h4 i {
  float: left;
  padding: 5px 10px 5px;
  font-size: 110%;
  color: #eeeeee;
}

/* line 150, ../_sass/style.scss */
#schedule {
  list-style: none;
}
/* line 152, ../_sass/style.scss */
#schedule li {
  padding-bottom: 10px;
  background: linear-gradient(to right, rgba(133, 142, 153, 0) 6%, #858e99 7%, rgba(134, 143, 154, 0) 8%, rgba(229, 229, 229, 0) 100%);
  /* W3C */
}

/* line 158, ../_sass/style.scss */
.label {
  opacity: 0.9;
  padding: 10px;
  background-color: #eeeeee;
  color: #222222;
  margin-right: 10px;
}
/* line 164, ../_sass/style.scss */
.label:after {
  content: " hrs";
  opacity: 0.8;
}

/* line 170, ../_sass/style.scss */
#register.tedx {
  width: 100%;
  background-color: red;
  border-color: transparent;
  color: #eeeeee;
}

/* Carousel */
/* line 178, ../_sass/style.scss */
.ca-container {
  height: 340px;
}

/* line 181, ../_sass/style.scss */
.ca-item-main {
  background-color: black;
  position: relative;
}
/* line 184, ../_sass/style.scss */
.ca-item-main h2 {
  color: #eeeeee;
  text-align: left;
}
/* line 188, ../_sass/style.scss */
.ca-item-main p {
  text-align: left;
  font-size: 70%;
  margin: 0;
}

/* line 194, ../_sass/style.scss */
.ca-content-wrapper {
  background-color: #222222;
}

/* line 197, ../_sass/style.scss */
.ca-content {
  color: #eeeeee;
  padding: 15px;
}
/* line 200, ../_sass/style.scss */
.ca-content h3 {
  color: red;
}
/* line 203, ../_sass/style.scss */
.ca-content ul {
  list-style: none;
}
/* line 206, ../_sass/style.scss */
.ca-content .ca-content-text, .ca-content ul {
  padding: 5px;
  margin: 0;
}
/* line 210, ../_sass/style.scss */
.ca-content .ca-close {
  background-color: red;
}

/* line 214, ../_sass/style.scss */
a.ca-more {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 219, ../_sass/style.scss */
a.ca-more:hover {
  color: inherit;
}
/* line 222, ../_sass/style.scss */
a.ca-more span {
  color: red;
  float: right;
}
